html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "PT Sans";
}
.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.l-box {
    padding: 1em;
}

h2 {
    margin: .83em 0 0 0;
}

p {
    color: #434343;
    text-align: justify;
}

#map {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    border-right: 6px solid;
}

#map-wrapper {
    height: 200px;
}

@media screen and (min-width: 64em) {
    #map {
        position: fixed;
        bottom: 0;
        width: 33.3%;
        height: 100%;
    }
    #map-wrapper {
        height: 100%;
    }
    #content {
        padding: 0 2em;
    }
}

.timeline ul {
    text-align: center;
    padding: 0;
}
.days li {
    list-style: none;
    display: inline-block;
    margin: 0 0.2em 0.5em 0.2em;
    opacity: 0.3;
}

.days li.active {
    opacity: 0.9;
}

.days li a {
    display: block;
    text-decoration: none;
    color: #434343;
    width: 32px;
    height: 32px;
    line-height: 2em;
    border-radius: 20px;
}
.days li:hover {
    opacity: 1;
}

.day-1 a {
    background-color: #f1f075;
}
.day-2 a {
    background-color: #eaf7ca;
}
.day-3 a {
    background-color: #c5e96f;
}
.day-4 a {
    background-color: #a3e46b;
}
.day-5 a {
    background-color: #7ec9b1;
}
.day-6 a {
    background-color: #b7ddf3;
}
.day-7 a {
    background-color: #63b6e5;
}
.day-8 a {
    background-color: #1087bf;
}
.day-9 a {
    background-color: #548cba;
}
.day-10 a {
    background-color: #677da7;
}
.day-11 a {
    background-color: #9c89cc;
}
.day-12 a {
    background-color: #c091e6;
}
.day-13 a {
    background-color: #d27591;
}
.day-14 a {
    background-color: #f86767;
}

li.disabled {
    opacity: 1;
}
.disabled a, .disabled a:hover {
    background: #ddd;
    pointer-events: none;
    cursor: pointer;
}

.pure-image {
	position: relative;
    width: 100%;
    margin-top: 10px;
}

.link span.icon {
    margin-right: 10px;
}

.dot {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    opacity: 0.8;
    border-width: 2px;
    border-style: solid;
}

.video, .audio {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.video p, .audio p {
    text-align: center;
    font-style: italic;
}
